@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans serif;
}
body{
    width: 100%;
    display: flex;
    background-color: #8ccbf5;
    overflow-x: hidden;
}
body.dark {
    background-color: rgb(1, 16, 29);
}
a:link, a:visited, a:active {
    text-decoration:none;
    display:block;
}
input, textarea{
    max-width: 100%;
    color:black;
}
/* HEADER */
.main-header{  
    background-color: #74bcec;
    display: block;
    justify-content: center;
    padding: 10px;
}
.dark .main-header {
    background-color: rgb(1, 4, 22);
    color: white;
}
.titulo {
    text-align: center;
}
.options-buttons {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.botones {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    background-color: transparent;
    padding:17px 8px;
    border-radius: 5px;
    border: 1px solid transparent;
    
}
.dark .botones {
    background-color: transparent ;
    color: white;
}
.oscuro{
    display: none;
}
body.dark .oscuro{
    display: inline-block;
} 
body.dark .claro{
    display: none;
}
i{
    padding: 5px;
}
/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.wrapper-body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 1;
}
.top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: white;
}
.imagen {
    width: 500px;
    height: 70vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position:center;
}
.imagenMedio {
    width: 100%;
    height: 70vh;
    
}
.bottom-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: white;
    
}
.texto-main {     
    font-size: 30px;
    font-weight: 900;
    color:black;
    text-align: center;
}
.boton-descargar {
    height: 40px;
    width: 200px;
    background-color: #238dd4;
    border: 1px solid #0a4770;
    border-radius: 5px;
    margin: 15px;
    color: aliceblue;
}

/* ASIDE */
h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
h3 {
    font-size: 15px;
    margin: 10px;
}
.container-aside {
    flex-basis: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #63bbf5;
    overflow-y: auto;
    top: 0;
    right: 0;
}

.dark .container-aside {
    background-color: #1c3a4e;
    color: white;
}
.section-image {
    margin: 5%;
}
.section-text {
    margin: 5%;
}
.oculto {
    display: none;
}
.input-url {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color:#93c5e5;
    border:none;
    outline: none;
}
.dark .input-url{
    background-color:#334653;
    border:none;
    outline: none;
    color: white;
}
.alineacion-row {
    display: flex;
    flex-direction: row;
}
.caja-color{
    width: 110px;
    height: 35px;
    border: 1px solid black;
    background-color:#93c5e5;
    border:none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
}
.dark Option{
    color: white;
}
.dark .caja-color{
    background-color:#334653;
    border:none;
    outline: none;
    color:white
    }
select {
    color: black;
}
option {
    color:black;
}
/* FILTROS */
.filtros {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 10px;
}
.boton-filtros {
    height: 50px;
    width: 200px;
    background-color: #238dd4;
    border:none;
    outline: none;
    border-radius: 5px;
    color: white;
    margin: 15px;
}

/*FUENTE*/
.color-fuente{
    width: 200px;
    height: 30px;
    background-color:#93c5e5;
    border:none;
    outline: none;
    color:black;
}
.dark .color-fuente{
    background-color:#334653;
    border:none;
    outline: none;
    color:white;
}
.sup-inf{
    background-color:#93c5e5;
    border:none;
    outline: none;
    color: white;
    width: 250px;
    height: 40px;
}
.dark .sup-inf{
    background-color:#334653;
    border:none;
    outline: none;
    color: white;
}
.check {
    margin-top: 5px;
    font-size: 13px;
}
.margen-30 {
    margin-top: 30px;
}

.input-numer {
    width: 100px;
    height: 30px;
    margin: 5px 5px 0 0;
    background-color:#93c5e5;
    border:none;
    outline: none;
}
.dark .input-numer{
    background-color:#334653;
    border:none;
    outline: none;
    color: white;
}
.icono-alig {
    color:white;
}
.boton-icono {
    width: 30px;
    height: 30px;
    background-color:#93c5e5;
    border:none;
    outline: none;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}
.dark .boton-icono{
    background-color:#334653;
    border:none;
    outline: none;
}
.alineacion-column {
    display: flex;
    flex-direction: column;
}
.boton-contorno {
    height: 30px;
    background-color:#93c5e5;
    border:none;
    outline: none;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    color: black;
    text-align: center;
    padding: 7px;
}
.dark .boton-contorno{
    background-color:#334653;
    border:none;
    outline: none;
    color: white;
}
.input-espaciado {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color:#93c5e5;
    border:none;
    outline: none;
}
.dark .input-espaciado{
    background-color:#334653;
    border:none;
    outline: none;
    color: white;
}